extends layout

block content
    form(method='POST',action='change/')
        fieldset
            label(for='email') Correu electrònic:
            input#email(type='text',name='email')
            label(for='old_password') Contrasenya anterior:
            input#old_password(type='password',name='old_password')
            label(for='password') Nova contrasenya:
            input#password(type='password',name='password')
            label(for='password2') Repeteix la nova contraseña:
            input#pasword2(type='password',name='password2')
            input#submit(class="btn btn-primary",type='submit')
