extends layout

block content
    p Introdueix el teu correu electronic. Set enviarà una nova contrasenya al correu electrònic
    form(method='POST',action='lost/')
        fieldset
            label(for='email') Correu electrònic:
            input#email(type='text',name='email')
            input#submit(class="btn btn-primary",type='submit')
